<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice" data-bind="css: 'stripe-payment'">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label stripe-label">
           <img src="https://www.owenbrotherscatering.com/pub/media/wysiwyg/stripeIcons.png">
            <span class="stripe-span" data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- placeholder for Elements -->

        <!-- ko if: (saveCardConfig && isLogged && hasCard) -->
        <select name="payment[credit_card_name]" class="select"
                data-bind="attr: {id: getCode() + '-card-id', 'data-container': getCode() + '-card-id'},
                           options: customerCard,
                           optionsText: function(item) {
                               return 'xxxxxxxxxxxx'+item.last4 + ' (' + item.brand + ')'
                           },
                           optionsValue: function(item) {return item.card_id},
                           optionsCaption: 'Select card',
                           value: cardId
                           ">
        </select>
        <!-- /ko -->

        <div id="stripe-itents-intray" data-bind="fadeVisible: showPaymentField()">
            <div class="form-control" data-bind="attr:{id: getCode() + '-card-element'},
                              afterRender: initStripePaymentIntents">
            </div>

            <!-- Used to display Element errors -->
            <div data-bind="attr:{id: getCode() + '-card-errors'}" role="alert"></div>
        </div>

        <div id="intray-show-error"></div>

        <div class="checkout-savecart-block">
            <div data-role="checkout-savecart">
                <div class="checkout-savecart" data-bind="visible: (saveCardConfig && isLogged && !isSelectCard())">
                    <div class="checkout-savecart">
                        <input type="checkbox" class="checkbox" data-bind="checked: saveCardOption"
                               id="magenest_stripe_intents_savecart" name="payment[save]" value="1">
                        <label for="magenest_stripe_intents_savecart">
                            <span><!-- ko text: $t('Save your creditcard ?')--><!-- /ko --></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar" style="margin-top: 30px">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind=" click: placeOrder, attr: {title: $t('Continue')}, enable: (getCode() == isChecked()) "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>