<!--
/**
 * Copyright © 2018 Magenest. All rights reserved.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice" data-bind="css: 'stripe-source'">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <img data-bind="attr: {
                        'src': getIcons(),
                        'alt': getCode()
                        }">
            <span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="form" data-bind="attr: {'id': getCode() + '-payment-form'}, mageInit: {'validation':{}}">
            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode()}">
                <div class="form-row field required">
                    <label for="iban-element" class="label">
                        IBAN
                    </label>
                    <div id="iban-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>
                </div>
                <div data-bind="attr: {id: getCode() + '-bank-name'}"></div>
                <div role="alert" data-bind="attr: {id: getCode() + '-error-message'}"></div>
                <div id="mandate-acceptance" data-bind="html: getInstructions()"></div>
                <div data-bind="afterRender: initStripeElement"></div>
            </fieldset>
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind=" click: placeOrder, attr: {title: $t('Continue')}, css: {disabled: !isPlaceOrderActionAllowed()}, enable: (getCode() == isChecked()) "
                        disabled>
                    <span data-bind="i18n: 'Continue'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
