<!--@subject Owen Brothers: New Order #{{var order_no}} - {{var compny_name}} - {{var date_time}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}
<table class="x_196354974MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width: 100%">
   <tbody>
      <tr>
         <td valign="top" style="padding: 15pt 0cm 15pt 0cm">
            <div align="center">
               <table class="x_196354974MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="650" style="width: 487.5pt; background: white; border: solid rgb(224, 224, 224) 1pt">
                  <tbody>
                     <tr>
                        <td valign="top" style="border: none; padding: 7.5pt 7.5pt 7.5pt 7.5pt">
                           <h1 style="margin-right: 0cm; margin-bottom: 8.25pt; margin-left: 0cm; line-height: 16.5pt"><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47); font-weight: normal">Dear {{var cust_name}}</span></h1>
                           <p style="margin-right: 0cm; margin-bottom: 8.25pt; margin-left: 0cm; line-height: 12pt"><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">If you have this order now then relax, you have done your part and one of the team at Owen Brothers Catering are now reading an exact copy! If we have any questions we will be in touch with you. </span></p>
                           <p style="margin-right: 0cm; margin-bottom: 8.25pt; margin-left: 0cm; line-height: 12pt"><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">If you need to <strong><span style="font-family: &quot;Verdana&quot;, sans-serif">amend</span></strong> your order or have any <strong><span style="font-family: &quot;Verdana&quot;, sans-serif">questions</span></strong> about your order then the process is simple: </span></p>
                           <p style="margin-right: 0cm; margin-bottom: 7.5pt; margin-left: 11.25pt; line-height: 12pt"><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">1. Forward on this order confirmation to <a href="mailto:sales@owenbrotherscatering.com" target="_blank"><span style="color: rgb(30, 126, 200)">sales@owenbrotherscatering.com</span></a></span></p>
                           <p style="margin-right: 0cm; margin-bottom: 7.5pt; margin-left: 11.25pt; line-height: 12pt"><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">2. Just state in your email what amendment or question you have and we will respond. Please note that changes to your orders must be made within 24 hours and only via email.</span></p>
                           <p style="margin-right: 0cm; margin-bottom: 8.25pt; margin-left: 0cm; line-height: 12pt"><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">The time that you have requested in your order below is not an exact delivery time. It gives us an indication as to when you want the delivery and we will endeavour to arrange your delivery before the time stated. Please don't worry if we arrive earlier – your food is safe and we want to ensure we are not late!</span></p>
                           <p style="margin-right: 0cm;margin-bottom: 0px;margin-left: 0cm;line-height: 0pt;"><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">An electronic invoice will be sent via email to either you or your designated contact.</span></p>
                        </td>
                     </tr>
                     <tr>
                        <td style="border:none;padding: 0 0px 0px 10px;font-family:'Verdana',sans-serif;vertical-align:top;">
                           <h2 style="margin:0cm;line-height:16.2pt;font-weight:300;font-size:26px;margin-top: 5px;margin-bottom: 5px;">
						   <span style="font-size: 13.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47); font-weight: normal">Your Order {{var order_no}} </span><span style="font-size: 12pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47); font-weight: normal">(placed on {{var order_date }})</span><span style="font-size: 13.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47); font-weight: normal"></span></h2>
                        </td>
                     </tr>
                     <tr>
                        <td style="border: none; padding: 7.5pt 7.5pt 7.5pt 7.5pt">
                           <table class="x_196354974MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="650" style="width: 487.5pt">
                              <thead>
                                 <tr>
                                    <td width="325" style="width: 243.75pt; background: rgb(234, 234, 234); padding: 3.75pt 6.75pt 4.5pt 6.75pt">
                                       <p class="x_196354974MsoNormal" style="line-height: 12pt"><b><span style="font-size: 10pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Delivery Address:</span></b></p>
                                    </td>
                                    <td width="10" style="width: 7.5pt; padding: 0cm 0cm 0cm 0cm"></td>
                                    <td width="325" style="width: 243.75pt; background: rgb(234, 234, 234); padding: 3.75pt 6.75pt 4.5pt 6.75pt">
                                       <p class="x_196354974MsoNormal" style="line-height: 12pt"><b><span style="font-size: 10pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Billing Address:</span></b></p>
                                    </td>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td valign="top" style="border: solid rgb(234, 234, 234) 1pt; border-top: none; padding: 5.25pt 6.75pt 6.75pt 6.75pt">
                                       {{var delivery_addr |raw}}
                                       <!-- <p class="x_196354974MsoNormal" style="line-height: 16.2pt"><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Claire Fisher<br>Pacific Life Re<br>Tower Bridge House<br>St Katherines Dock<br>London, E1W 1BA<br>United Kingdom<br>T: 02077091700 <br>E-mail: <a href="mailto:claire.fisher@pacificlifere.com" target="_blank">claire.fisher@pacificlifere.com</a> </span></p> -->
                                    </td>
                                    <td style="padding: 0cm 0cm 0cm 0cm">
                                       <p class="x_196354974MsoNormal" style="line-height: 16.2pt"><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">&nbsp;</span></p>
                                    </td>
                                    <td valign="top" style="border: solid rgb(234, 234, 234) 1pt; border-top: none; padding: 5.25pt 6.75pt 6.75pt 6.75pt">
                                       
									   {{var billing_info |raw}}
                                       <!-- <p style="line-height: 16.2pt"><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">DIRECT ACCOUNT *</span></p> -->
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           <p class="x_196354974MsoNormal" style="line-height: 16.2pt"><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">&nbsp;</span></p>
                           <table class="x_196354974MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="650" style="width: 487.5pt">
                              <thead>
                                 <tr>
                                    <td width="325" style="width: 243.75pt; background: rgb(234, 234, 234); padding: 3.75pt 6.75pt 4.5pt 6.75pt">
                                       <p class="x_196354974MsoNormal" style="line-height: 12pt"><b><span style="font-size: 10pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Payment Method:</span></b></p>
                                    </td>
                                    <td width="10" style="width: 7.5pt; padding: 0cm 0cm 0cm 0cm"></td>
                                    <td width="325" style="width: 243.75pt; background: rgb(234, 234, 234); padding: 3.75pt 6.75pt 4.5pt 6.75pt">
                                       <p class="x_196354974MsoNormal" style="line-height: 12pt"><b><span style="font-size: 10pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Delivery Information:</span></b></p>
                                    </td>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td valign="top" style="border: solid rgb(234, 234, 234) 1pt;font-family: 'Verdana',sans-serif; border-top: none; padding: 5.25pt 6.75pt 6.75pt 6.75pt">
                                       {{var payment_method}}
                                       <!-- <p class="x_196354974MsoNormal" style="line-height: 16.2pt"><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Claire Fisher<br>Pacific Life Re<br>Tower Bridge House<br>St Katherines Dock<br>London, E1W 1BA<br>United Kingdom<br>T: 02077091700 &nbsp; </span></p> -->
                                    </td>
                                    <td style="padding: 0cm 0cm 0cm 0cm">
                                       <p class="x_196354974MsoNormal" style="line-height: 16.2pt"><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">&nbsp;</span></p>
                                    </td>
                                    <td valign="top" style="border: solid rgb(234, 234, 234) 1pt; border-top: none; padding: 5.25pt 6.75pt 6.75pt 6.75pt">
                                       {{var delivery_info |raw}}
                                       <!-- <p class="x_196354974MsoNormal" style="margin-bottom: 12pt; line-height: 16.2pt"><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Delivery Date: <b>15/01/2019 - 08:30</b> <br>Order Instructions: <b>2 x gluten free </b></span></p> -->
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           <p class="x_196354974MsoNormal" style="line-height: 16.2pt"><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">&nbsp;</span></p>
                           <table class="x_196354974MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="650" style="width: 487.5pt; border: solid rgb(234, 234, 234) 1pt">
                              <thead>
                                 <tr>
                                    <td style="border: none; background: rgb(234, 234, 234); padding: 2.25pt 6.75pt 2.25pt 6.75pt">
                                       <p class="x_196354974MsoNormal" style="line-height: 16.2pt"><b><span style="font-size: 10pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Item</span></b></p>
                                    </td>
									<td style="border: none; background: rgb(234, 234, 234); padding: 2.25pt 6.75pt 2.25pt 6.75pt">
                                       <p class="x_196354974MsoNormal" align="left" style="text-align: left; line-height: 16.2pt"><b><span style="font-size: 10pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Sku</span></b></p>
                                    </td>

                                    <td style="border: none; background: rgb(234, 234, 234); padding: 2.25pt 6.75pt 2.25pt 6.75pt">
                                       <p class="x_196354974MsoNormal" align="center" style="text-align: center; line-height: 16.2pt"><b><span style="font-size: 10pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Qty</span></b></p>
                                    </td>
                                    <td style="border: none; background: rgb(234, 234, 234); padding: 2.25pt 6.75pt 2.25pt 6.75pt">
                                       <p class="x_196354974MsoNormal" align="right" style="text-align: right; line-height: 16.2pt"><b><span style="font-size: 10pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Subtotal</span></b></p>
                                    </td>
                                 </tr>
                              </thead>
                              <tbody>
                       {{var pro_names |raw}}
                                 <tr>
                                    <td colspan="3" style="border: none; padding: 2.25pt 6.75pt 2.25pt 6.75pt">
                                       <p class="x_196354974MsoNormal" align="right" style="text-align: right; line-height: 16.2pt"><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Subtotal </span></p>
                                    </td>
                                    <td style="border: none; padding: 2.25pt 6.75pt 2.25pt 6.75pt">
                                       <p class="x_196354974MsoNormal" align="right" style="text-align: right; line-height: 16.2pt"><span class="x_196354974price"><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">{{var subtotal }}</span></span><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)"> </span></p>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td colspan="3" style="border: none; padding: 2.25pt 6.75pt 2.25pt 6.75pt">
                                       <p class="x_196354974MsoNormal" align="right" style="text-align: right; line-height: 16.2pt"><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Delivery Charge </span></p>
                                    </td>
                                    <td style="border: none; padding: 2.25pt 6.75pt 2.25pt 6.75pt">
                                       <p class="x_196354974MsoNormal" align="right" style="text-align: right; line-height: 16.2pt"><span class="x_196354974price"><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">{{var delivery_charge }}</span></span><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)"> </span></p>
                                    </td>
                                 </tr>
								 {{var extra_fee_charge |raw}}
                                 <tr>
                                    <td colspan="3" style="border: none; padding: 2.25pt 6.75pt 2.25pt 6.75pt">
                                       <p class="x_196354974MsoNormal" align="right" style="text-align: right; line-height: 16.2pt"><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">VAT </span></p>
                                    </td>
                                    <td style="border: none; padding: 2.25pt 6.75pt 2.25pt 6.75pt">
                                       <p class="x_196354974MsoNormal" align="right" style="text-align: right; line-height: 16.2pt"><span class="x_196354974price"><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">{{var tax_amount }}</span></span><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)"></span></p>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td colspan="3" style="border: none; padding: 2.25pt 6.75pt 2.25pt 6.75pt">
                                       <p class="x_196354974MsoNormal" align="right" style="text-align: right; line-height: 16.2pt"><strong><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Grand Total</span></strong><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)"> </span></p>
                                    </td>
                                    <td style="border: none; padding: 2.25pt 6.75pt 2.25pt 6.75pt">
                                       <p class="x_196354974MsoNormal" align="right" style="text-align: right; line-height: 16.2pt"><span class="x_196354974price"><b><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">{{var ord_grandtotal }}</span></b></span><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)"> </span></p>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td style="border: none; background: rgb(234, 234, 234); padding: 7.5pt 7.5pt 7.5pt 7.5pt">
                           <p align="center" style="margin: 0cm; text-align: center; line-height: 16.2pt"><strong><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">Thank you for ordering with Owen Brothers Catering – Fine Caterers Since 1974</span></strong><span style="font-size: 9pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)"></span></p>
                           <p align="center" style="margin: 0cm; text-align: center; line-height: 9pt"><span style="font-size: 7pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">If you need further clarification regarding the allergen information of your order then please refer to: </span></p>
                           <p align="center" style="margin: 0cm; text-align: center; line-height: 16.2pt"><span style="font-size: 7pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)"><a href="http://www.owenbrotherscatering.com/media/pdf_menus/ALLERGEN_INFORMATION.pdf" target="_blank">http://www.owenbrotherscatering.com/media/pdf_menus/ALLERGEN_INFORMATION.pdf</a></span></p>
                        </td>
                     </tr>
                     <tr style="text-align: center;">
                        <td valign="top" style="border: none; padding: 7.5pt 7.5pt 7.5pt 7.5pt">
                           <p class="x_196354974MsoNormal" style="line-height: 16.2pt"><span style="font-size: 8.5pt; font-family: &quot;Verdana&quot;, sans-serif; color: rgb(47, 47, 47)">
						   <a href="https://www.owenbrotherscatering.com" target="_blank"><span style="text-decoration: none">
						   <img style="width:35%;border:0;height:auto;line-height:100%;outline:none;text-decoration:none" border="0" id="m_-55421496372778181751545970085897000001_imgsrc_url_0" alt="Owen Brothers" src="https://www.owenbrotherscatering.com/pub/media/logo/stores/1/logo.png" class="CToWUd"></span></a></span></p>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </td>
      </tr>
   </tbody>
</table>
