<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Magenest. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magenest_StripePayment::stripe" title="Magenest Stripe Payment">
                    <resource id="Magenest_StripePayment::settings" title="Settings" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
